body {
    font-family: 'Lobster', cursive;
}

main {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(187, 186, 186);
}

.pokedex {

    display: flex;
    gap: 30px;
    padding: 30px 10px;
    background-color: rgba(2, 1, 1, 0.192);
}